    /*html{scroll-behavior: smooth;}*/
  
  body {
    font: 400 15px Lato, sans-serif; /*Dosis*/
    line-height: 1.9;
    color: #818181;
  }
  ::selection{background: #a51d2e; color:#fff;}

  body {
  cursor: url('imagenes/294182-ff5722.svg'), auto; 
}
  body.dark{
  color: #fdebce;
  background-color: #5f2029;
  }
  body.dark #nav0, body.dark #mainNav{background-color: #5f2029!important;;}
  body.dark h2{color: #fdebce;}
  body.dark h3{color: #fdebce;}
  body.dark h4{color: #fdebce;}
  body.dark p{color: rgba(253,235,206,0.85);}
  body.dark .jumbotron{background-color:#fff; }
  body.dark .bg-grey{background-color: #6B242F; color:#fdebce;}
  body.dark .bg-red{background-color: #5f2029; color:#fdebce;}
  body.dark .card{background-color: #810920; color:#fdebce;}
  body.dark .card-header h1{color:#fdebce!important;}
  body.dark .card-body {background-color: rgba(150, 222, 150, 0.15)!important;}
  /*body.dark .card-body {background-color: #8C4D5!important;}*/
  body.dark footer .fas{color: #fdebce;}
  body.dark a {color: #fac36b;}
  body.dark #item2{color:#810920!important;}
  body.dark footer h1:not(.foot_r2){color: #fdebce;}
  
  h1{ /*animated font used in jumbotron header*/
    font-family: 'Playfair Display', serif; font-weight: 400; font-style: italic; 
    font-size: 2rem; color: #fff; 
    /*text-shadow: 0 1px 1px #5f2029;*/
    }
  svg{
    width: 15px;
    height: 15px;}
  h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #810920;
    font-weight: 600;
    margin-bottom: 30px;
  }
 
  h3 {font-family: 'Playfair Display', serif; font-size: 8vw; text-transform: uppercase;letter-spacing: 2px;
    color: #810920; font-weight: 700; margin-bottom: 18px; margin-top:6px; text-shadow: -3px 0 1px #5f2029;}

  h4 {
    font-size: 1.18rem;
    line-height: 1.5em;
    color: #303030; /*#E88A6D;*/
    font-weight: 400;
    margin-bottom: 30px;
  } 
  .jumbotron h2, .jumbotron h4 {color: #fdebce;}
  #presentación{margin-top: -10px;}
  
  p {font-size: 1.1rem;}

  .headline{text-align:center; background: url(imagenes/headline.svg) 50% bottom no-repeat; padding: 10px 0 40px 0;}

/* --- back to Top btn --- */
#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 17px;
    z-index: 98;
    padding: 13px;
    border-radius: 20%;
    background-color: hsla(5, 76%, 62%, .5)
}

.cd-top {
    position: fixed;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0,0,0,.10), 
                0 2px 3px rgba(0,0,0,.10), 
                0 4px 8px rgba(0,0,0,.10), 
                0 8px 10px rgba(0,0,0,.10), 
                0 14px 16px rgba(0,0,0,.07); 
    /*background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;*/
   background: url(imagenes/top-arrow-thin.svg) no-repeat center 50%;
 }
#toTopBtn:hover{
  background-color: hsla(5, 76%, 62%, .65)
}
 /*---- End back To Top btn ------*/

.btn {border-radius: 3.5rem!important;
  text-transform: uppercase;
  padding: 12px 25px;
  font-size: .9rem;
  letter-spacing: .1rem;}

.btn-small {
  font-family: 'Montserrat', sans-serif;
  font-size: .65rem;text-transform: none;
  padding: 6px 15px !important; 
  border: 1.25px solid #810920!important; 
}

.btn-dark {
  color: #fff;
  background-color: #810920!important;
  border-color: #810920!important;
}
.btn-dark:hover {
  color: #fff;
  background-color: #a70c28!important;
  border-color: #a70c28!important;
}
.btn-light {
  color: #810920!important;
  background-color: #f6f6f6!important;
  border: 2px solid #810920;
}
.btn-light:hover:not(#switchBtn) {
  color: #fff8f6!important; 
  background-color: #810920!important;
}

.btn-light-inverse{color: #fff!important;background-color: #810920!important; }

.moon-sun {
  background: url(imagenes/moon-sun.svg) no-repeat 100% 50%;
  width:60px;
  height:29.5px;
  background-position:-31px;
  background-size: 60px 16px;
  transition: all 0.6s ease-in;}

.moon-sun:hover{background-position:30px;}

.moon-sun-inverted {
  background: url(imagenes/moon-sun.svg) no-repeat 100% 50%;
  width:60px;
  height:29.5px;
  background-position:30px!important;
  background-size: 60px 16px;
  transition: all 0.6s ease-in;
  transition-delay: 0.2s;
}

.moon-sun-inverted:active{ background-position:-31px!important;}

.btn.btn-light.r_arrow::after{ 
  content: '';
  background: url(imagenes/right-arrow-thin.svg) no-repeat 100% 50%;
  background-size: 16px 14px;
  padding-right: 25px;  
}
.btn.btn-light.r_arrow:hover::after {
  content:'';
  background: url(imagenes/right-arrow-thin-white.svg) no-repeat 100% 50%;
  background-size: 16px 14px;
  padding-right: 25px;
}

  .jumbotron {
    /*background-color: 810920!important;*/ /* redish: #ca313c;*/
    /*height: 900px;*/
    color: #fff;
    padding: 20px 20px 20px 20px;
    font-family: Lato, sans-serif; /*Montserrat*/
    border-radius: 0!important;
    margin-bottom: 0!important;
    background:linear-gradient(rgba(129,9,32,0.7),rgba(95,32,41,.95)75%,rgba(95,32,41,1)), 
    url(imagenes/fondo-jumbo-test-simpler.svg) no-repeat center center fixed;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    /*background:linear-gradient(rgba(126,93,160,1),rgba(95,32,41,.95)75%,rgba(95,32,41,1)); */
  }
  .container-fluid {
    padding: 60px 50px;
  }
  footer.container-fluid {
    padding: 40px 50px;
  }
  footer{border-top: 1.618px solid rgba(253,235,206,0.2);}
  
  footer .fas {
  color: #810920;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  }
   
  .bg-grey {background-color: #f6f6f6;}
  .bg-ocre {background-color: #f09d4b;} /* ocre original f8bc38 --- Otros: #f09d4b; #E87A5D*/
  .bg-red2 {background-color: #ca313c;} /* redish */
  .bg-grey2 {background-color:#eaeaea;}
  .logo{max-width:200px;}

  .maxw {max-width: 200px;}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
}
  .carousel-control-prev-icon {
  background-image: url(imagenes/1837450-ff5722.svg)!important;
}
 .carousel-control-next-icon {
   background-image: url(imagenes/1837450-ff5722.svg)!important;
}
  /*.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }*/
  .carousel-indicators{
    bottom: -38px;
  }/*change flat default indicators*/
  .carousel-indicators li{
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%;
    background-color: #fdebce;
    border: 1.25px solid #f8bc38;/*#ca313c;*/
    opacity: 1;
    transform: scale(1);
    transition: background-color 0.6s ease;
  }
  .carousel-indicators .active {
    width: 12.5px!important;
    height: 12.5px!important;
    border-radius: 100%;
    border:none;
    margin:0 3px;
    background-color: #f09d4b; /*ocre*/
    transform: scale(1.2);
  }
  #frase{font-style: italic;}
  
  .card{transition: box-shadow 0.1618s !important;}
  .card:hover {box-shadow: 0px 1px 8px rgba(129,9,32, .1618);}

  .card-header h1 {
    color:#810920!important;
    font-size: 1.5rem !important;
    padding: 0.75rem 0.3rem!important;
  }
  .card-body{ padding: 1rem !important;}

  .card-footer .btn {
    margin: 15px 0;
    background-color: #810920;
    color: #fff;
  }
  /*.container-fluid.bg-grey{    -webkit-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.2);
    -moz-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.2);
    box-shadow: 0 10px 10px -10px rgba(215, 91, 99, 0.5);}*/
  .navbar {
    /*padding: 0rem 1rem;*/
    margin-bottom: 0;
    background-color: #810920; /*bordó*/
    opacity: 0.96;
    z-index: 9999;
    border: 0;
    font-size: 0.9rem !important;
    line-height: 1.42 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    -webkit-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.22);
    -moz-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.22);
    box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.22),
                0 7px 7px -6px rgba(215, 91, 99, 0.2);
  }
  /*#mainNav{background: linear-gradient(rgba(95,32,41,.85),rgba(170,10,70,.85));}*/
li.nav-item{padding: 0 10px !important;text-align: center;}/*vertical separator > border-right: 1px solid rgba(255,255,255,0.15);*/

.navbar-brand{font-family: Dosis, sans-serif;
font-size: 1.3rem !important;}
.navbar-toggler-icon:hover{ /*change hamburger color: original > stroke='rgba%280, 0, 0, 0.5%29' */
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(248, 174, 56, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
button.navbar-toggler:focus{outline: none!important;}

/*.navbar-toggler.menu-btn {padding: 0!important;}*/

#collapsibleNavbar {transition: height 0.6s ease-out;} /*slower unfold time, sync with burger btn animation*/

.collapse.show {margin-bottom: 10px;}

.divider{
  display: flex;
  position: relative;
  height: 25px;
  width: 1px;
  background-color: rgba(255,255,255,0.2); 
  margin: 5px auto;
}
#navbardrop {cursor: default;}

#nav-icons a{ /*iconos redes sociales*/
  font-size: 1.1rem;
  margin-inline-start: .7px;
  color: rgba(255, 255, 255, 0.5);
}
#nav-icons a:hover {color: #fff;}

.show #nav-icons a{font-size: 1.3rem!important;}

.dropdown-menu {
  margin-top: -5px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #f09d4b; /*original:f8bc38 -- salmón: E87A5D;*/
  border:none;
}
/* desplegar menu mouse over link*/
/*.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
   /* pointer-events: none!important;
}
*/
.dropdown-item {
  font-size: 0.85rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer!important;
}
#sobrenos { /*resaltar 1er link del menú dropdown*/
  font-size: 0.85rem;
  /*font-weight: bold;*/
  color: #810920;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #fff;
}
.horiz-links {display: inline-flex; justify-content: center;}
/*#contact .fas, .fab {color: rgba(248, 174, 56,0.5);}*/

footer h1{color:#5f2029;}
.foot {
  font-size: 14px;
  text-align: center;
  line-height: 2.5em;
}

.foot_r1,.foot_r4 {
  font-size: 1em;
  line-height: 1em;
}

.foot_r2 {
  font-size: 1em;
  color: #d44b15;
  line-height: 1em;
  position: relative;
  display: inline-block;
}

.foot_r2::after {
  content: '';
  height: 1px;
  background-color: #d44b15;
  width: 2em;
  position: absolute;
  top: 0.5em;
  left: -2.5em;
}

.foot_r2::before {
  content: '';
  height: 1px;
  background-color: #d44b15;
  width: 2em;
  position: absolute;
  top: 0.5em;
  right: -2.5em;
}

.foot_r3 {
  font-size: 1.15em;
  line-height: 1.4em;
  margin-bottom: 12px;
}

.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1.618s;
  -webkit-animation-duration: 1.618s;
  visibility: visible;
}
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(72%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(72%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @media screen and (max-width: 860px) {
   h3 {text-align: center!important;}
  }
  @media screen and (max-width: 768px) {
    .col-md-4, .col-sm-5 {margin: 25px 0;}
    #btn-int{text-align: center!important;}
    #btn-int>.btn-light{
      width: 90%;
      margin-bottom: 30px;
    }
    #presentación{text-align: center!important;}
  }

  @media screen and (max-width: 480px) {
   .jumbotron h1{font-size: 1.4rem !important;}
   .logo {width: 160px;}
   .card {margin: 10px -30px 0 -30px;}
   .card-header{padding: 8px 4px;}
   .card-header h1 {font-size: 1.4rem !important;}
  }
  /*@media screen and (max-width: 480px){
    .jumbotron{    background:linear-gradient(rgba(170,10,70,.5),rgba(95,32,41,.85)), url(imagenes/fern.svg) no-repeat center center fixed;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}
  }*/

 /* ---- Special hover effects ----*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.6s;
}
/* stroke effect */
/*nav.stroke ul li a,*/
.stroke,.fill {
  position: relative;
}
.stroke:after,
.fill:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #f09d4b; /* orange #f8bc38;*/
  height: 1.1px;
}
.stroke:hover:after {
  width: 100%;
  transition: all 0.6s;
}

.fill {transition: all 2s;}

.fill:after {
  text-align: left;
  content: '.';
}
.fill:hover {
  color: #810920 !important;
  z-index: 1;
}
.fill:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* SHIFT effect*/
.shift {
  position:relative;
  z-index: 1;
}
.shift:hover {
  color: #91640F;
}
.shift:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #f8bc38;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.shift:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #f8bc38;
  }
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-duration: 0.6s !important;
  transition-duration: 0.6s !important;
  -webkit-transition-property: transform;
  transition: transform 0.6s !important;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(7.8px);
  transform: translateX(7.8px);
}
/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 0.618s;
  transition-duration: 0.618s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*******************************************************/

.jumbotron hr{ /*posición final*/
  opacity: 1;
  background-color:#f09d4b;
  transform: scale(1);
  /*transform: translate(0) scale(0.5);*/
  transition: all 400ms ease-out;
  transition-delay: 1600ms;
}

body.hero-anime .jumbotron hr{ /*posición inicial oculta*/
  opacity: 0;
  transform: scale(0.1);
  /*transform: translateY(-60px);*/
  transition-delay: 1600ms;
}

h1 span{ /*posición final*/
  display: inline-block;
  transition: all 400ms;
  transition-timing-function: cubic-bezier(-.01, .01, -.01, 1.01);
  color: #fff;
  opacity: 1;
  transform: translate(0);

}
/* inicio palabra español*/
/* valores iniciales (ocultos) a remover*/
body.hero-anime h1 span:nth-child(1){
  opacity: 0;
  transform: translateY(-25px);
}
body.hero-anime h1 span:nth-child(2){
  opacity: 0;
  transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
  opacity: 0;
  transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
  opacity: 0;
  transform: translateY(-15px);
}
body.hero-anime h1 span:nth-child(5){
  opacity: 0;
  transform: translateY(-55px);
}
body.hero-anime h1 span:nth-child(6){
  opacity: 0;
  transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
  opacity: 0;
  transform: translateY(-70px);
}
h1 span:nth-child(1){
    transition-delay: 1000ms;
}
h1 span:nth-child(2){
    transition-delay: 700ms;
}
h1 span:nth-child(3){
    transition-delay: 900ms;
}
h1 span:nth-child(4){
    transition-delay: 800ms;
}
h1 span:nth-child(5){
    transition-delay: 1000ms;
}
h1 span:nth-child(6){
    transition-delay: 700ms;
}
h1 span:nth-child(7){
   transition-delay: 900ms;
}
/* Inicio palabra Portugués*/

body.hero-anime h1 span:nth-child(9){ /*P*/
  opacity: 0;
  transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
  opacity: 0;
  transform: translateY(70px);
}
body.hero-anime h1 span:nth-child(11){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
  opacity: 0;
  transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
  opacity: 0;
  transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
  opacity: 0;
  transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(16){
  opacity: 0;
  transform: translateY(65px);
}
body.hero-anime h1 span:nth-child(17){ /*S final*/
  opacity: 0;
  transform: translateY(50px);
}
h1 span:nth-child(9){
    transition-delay: 600ms;
}
h1 span:nth-child(10){
    transition-delay: 700ms;
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}
h1 span:nth-child(16){
    transition-delay: 1100ms;
}
h1 span:nth-child(17){
    transition-delay: 800ms;
}
/* inicio palabra inglés*/
/*valores iniciales (ocultos)*/
body.hero-anime h1 span:nth-child(19){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(20){
  opacity: 0;
  transform: translateY(60px);
}
body.hero-anime h1 span:nth-child(21){
  opacity: 0;
  transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(22){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(23){
  opacity: 0;
  transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(24){
  opacity: 0;
  transform: translateY(40px);
}
h1 span:nth-child(19){
    transition-delay: 1300ms;
}
h1 span:nth-child(20){
    transition-delay: 1500ms;
}
h1 span:nth-child(21){
    transition-delay: 800ms;
}
h1 span:nth-child(22){
    transition-delay: 1200ms;
}
h1 span:nth-child(23){
    transition-delay: 1450ms;
}
h1 span:nth-child(24){
    transition-delay: 1750ms;
}
