  body {
    font: 400 15px Lato, sans-serif; /*Dosis*/
    line-height: 1.8;
    color: #818181;
  }
  h2 {
    font-family: Dosis, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h3 {font-family: Dosis, sans-serif;font-size: 1.3rem;text-transform: uppercase;color: #810920;font-weight: 600; margin-bottom: 18px; margin-top:6px;}
  h4 {
    font-size: 1.18rem;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  } 
  p{font-size: 1.1rem;}
#contact p {font-size: 1.1rem;} 

.btn {border-radius: 3.5rem!important;
  text-transform: uppercase;
  padding: 12px 25px;
  font-size: .9rem;
  letter-spacing: .1rem;}

.btn-dark {
  color: #fff;
  background-color: #810920!important;
  border-color: #810920!important;
}
.btn-dark:hover {
  color: #fff;
  background-color: #a70c28!important;
  border-color: #a70c28!important;
}
.btn-light {
  color: #810920!important;
  background-color: #fff!important;
  border: 2px solid #810920!important;
}
.btn-light:hover {
  color: #fff!important; /* ocre: #f8ae38*/
  background-color: #810920!important;
}

  .jumbotron {
    background-color: #810920; /* redish: #ca313c;*/
    color: #fff;
    padding: 30px 20px 20px 15px;
    font-family: Dosis, sans-serif; /*Montserrat*/
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {background-color: #f6f6f6;}
  .bg-ocre {background-color: #f8ae38;} /* ocre */
  .bg-red {background-color: #ca313c;} /* redish */
  
    .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .maxw {
    max-width: 200px;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
    .img-thumbnail {
    padding: 15px 50px;
  }
  .thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 40px;
  height: 40px;
}
  .carousel-control-prev-icon {
  background-image: url(imagenes/1837450-ff5722.svg)!important;
}
 .carousel-control-next-icon {
   background-image: url(imagenes/1837450-ff5722.svg)!important;
}
  /*.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }*/
  .carousel-indicators{
    bottom: -38px;
  }/*change flat default indicators*/
  .carousel-indicators li{
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%;
    background-color: #f6f6f6;
    border: 1.25px solid #f8ae38;/*#ca313c;*/
    opacity: 1;
    transition: background-color 0.6s ease;
  }
  .carousel-indicators .active {
    width: 12.5px!important;
    height: 12.5px!important;
    border-radius: 100%;
    border:none;
    margin:0 3px;
    background-color: #f8ae38; /*ocre*/
  }
  #frase{font-style: italic;}
  
  .card{transition: box-shadow 0.5s;}
  .card:hover {box-shadow: 5px 0px 40px rgba(129,9,32, .2);}

  .panel-footer .btn:hover {
    border: 1px solid #810920;
    background-color: #fff !important;
    color: #f4511e;
  }
  .card-header{color:#810920!important;}
  .card-header h1{font-size: 1.9rem !important;}
  .panel-header {
    color: #fff !important;
    background-color: #f8ae38 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .card-footer .btn {
    margin: 15px 0;
    background-color: #810920;
    color: #fff;
  }
  .navbar {
    /*padding: 0rem 1rem;*/
    margin-bottom: 0;
    background-color: #810920; /*bordó*/
    z-index: 9999;
    border: 0;
    font-size: 0.875rem !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3.25px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    -webkit-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.2);
    -moz-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.2);
    box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.2);
  }

.navbar-brand{font-family: Dosis, sans-serif;
font-size: 1.3rem !important;}
.navbar-toggler-icon:hover{ /*change hamburger color: original > stroke='rgba%280, 0, 0, 0.5%29' */
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(248, 174, 56, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
button.navbar-toggler:focus{outline: none!important;}

#navbardrop {cursor: default;}

#nav-icons a{ /*iconos redes sociales*/
  color: rgba(255, 255, 255, 0.5);
}
#nav-icons a:hover {color: #fff;}

.dropdown-menu {
  margin-top: -5px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #f8ae38;
  border:none;
}
/* desplegar menu mouse over link*/
/*.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
   /* pointer-events: none!important;
}
*/
.dropdown-item {
  font-size: 0.85rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer!important;
}
#sobrenos { /*resaltar 1er link del menú dropdown*/
  font-size: 0.8rem;
  font-weight: bold;
  color: #810920;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #fff;
}
.horiz-links {
  display: inline-flex;
}
/*#contact .fas, .fab {color: rgba(248, 174, 56,0.5);}*/
footer .fas {
  color: #810920;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
footer{margin-top: 0px;margin-bottom: 0px;}

.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1.618s;
  -webkit-animation-duration: 1.618s;
  visibility: visible;
}
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(72%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(72%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4, .col-sm-5 {
      text-align: center;
      margin: 25px 0;
    }
    #btn-int{text-align: center!important;}
    .btn-light{
      width: 86%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
 /* ---- Special hover effects ----*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.6s;
}
/* stroke effect */
/*nav.stroke ul li a,*/
.stroke,.fill {
  position: relative;
}
.stroke:after,
.fill:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #f8ae38;
  height: 1.1px;
}
.stroke:hover:after {
  width: 100%;
  transition: all 0.6s;
}

.fill {
  transition: all 2s;
}

.fill:after {
  text-align: left;
  content: '.';
}
.fill:hover {
  color: #810920 !important;
  z-index: 1;
}
.fill:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* SHIFT effect*/
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #f8ae38;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #f8ae38;
  }
}
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
