      /*html{scroll-behavior: smooth;}*/
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Helvetica, Arial, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 15px; /*Dosis*/
    line-height: 1.9;
    color: #818181;
  }
  ::selection{background: #a51d2e; color:#fff;}
  
.img-circle-team{
  width: 70%;
  border-radius: 50%;
  border: 12px solid #f8b525; /*  < naranja; otro: #f09d4b;*/
  margin-top: 10px;
  margin-bottom: 5px;
}
.z-text {
  transform: rotateX(-15deg);
  /*transition: transform 1s;*/
    animation: wobble 10s ease-in-out infinite;

}
.bucks{    animation: bucks 2s ease-in-out infinite;
}
.wobble{    animation: wobble 10s ease-in-out infinite;
}
@keyframes wobble {
  0%,
  100% {
    transform: rotate3d(-1, 1, 0, 30deg);
  }
  25% {
    transform: rotate3d(1, 1, 0, 30deg);
  }
  50% {
    transform: rotate3d(1, -1, 0, 30deg);
  }
  75% {
    transform: rotate3d(-1, -1, 0, 30deg);
  }
}

@keyframes bucks {
  0%{opacity: 0;}
  100% {
    opacity:1;transform: translateX(-130px);
  }

}
.z-layer:not(:first-child) {
filter: brightness(0.7);}

   
  #nav0{z-index: 10000}

  body.dark{
  color: #fdebce;
  background-color: #5f2029;
  }
  body.dark #nav0, body.dark #mainNav{background-color: #5f2029!important;;}
  body.dark h2,body.dark h3, body.dark h4, body.dark h5, body.dark .btn-link{color: #fdebce;}
  body.dark p{color: rgba(253,235,206,0.85);}
  body.dark .jumbotron{background-color:#fff; }
  body.dark #serv-col-1{background-color: #6B242F;}
  body.dark #serv-col-2{background-color: rgba(209,156,143,0.35);border: 0px solid rgba(209,156,143,0.4);}
  body.dark .bg-grey, body.dark .bg-yellow,body.dark .bg-beige {background-color: #6B242F; color:#fdebce;}
  body.dark .bg-grey2{background-color: #5f2029; color:#fdebce;}
  body.dark .bg-yellow2{background-color: #fef4dc;}  
  body.dark .card,body.dark .card-body{background-color: #842932; color:#fdebce;}
  body.dark .card-header h1{color:#fdebce!important;}
  body.dark .card-header {background-color:#810920; }
  /*body.dark .c-body {background-color: rgba(150, 222, 150, 0.15);}*/
  /*body.dark .card-body {background-color: #8C4D5!important;}*/
  body.dark #contact a{color: #fac36b;}
  body.dark #dropdown-item2{color:#810920!important;}
  body.dark footer h1:not(.foot_r2){color: #fdebce;}
  body.dark .label{color: #fdebce;}
  body.dark .emphasis{color:#f8b525;}
  

  a{color: #810920;}
  a:hover{color: #a70c28;}/*#5f2029*/
  #texter{height: 250px;background: url(text2.png) no-repeat center center; background-size: cover;}

  #svg-view{
    width: 15vh;
    margin: 0 auto;
    display: inline-block;
    fill: currentColor;
    transform: scale(1);
    transition: all ease-in 240ms;
  }
   #svg-view:hover{
   transform: scale(1.1);
  }
/*  #svg-view:hover{
    animation: rotate-icon 300ms forwards ease-in;
  }
@keyframes rotate-icon{
  0%{transform: scale(1);}
  100%{transform: scale(1.15);}
} */ 
  .svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-bottom: 2px;
  }
  .x3{width: 3em;  height: 3em;}
  .x10{width: 10em;  height: 10em;}
  .x4{width: 4em;  height: 4em;margin-bottom: 1em;}
  .px-x5{padding-right: 20rem!important;padding-left: 20rem!important;}
  h1{ /*animated font used in jumbotron header*/
    font-family: 'Playfair Display', Times New Roman, serif; font-weight: 400; font-style: italic; 
    font-size: 1.4rem; color: #f8b525; 
    /*text-shadow: 0 1px 1px #5f2029;*/
    }

  h2 {
    font-family: 'Playfair Display', Times New Roman, serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-transform: none;
    color: #810920;
    font-weight: 500;
    margin-bottom: 30px;
  }
 
  h3 {font-family:'Playfair Display',Times New Roman, serif; font-size: 8vh; line-height: 1.15em;text-transform: uppercase;letter-spacing: 2px;
    color: #810920; font-weight: 700; margin-bottom: 18px; margin-top:6px; text-shadow: -3px 0 1px #5f2029;}

#second-row h3{ font-size: 2.5rem!important; }
#second-row h1{ color: #810920 !important; }

  h4{ font-size: 1.4rem;
    line-height: 1.55em;
    color: #303030; /*#E88A6D;*/
    font-weight: 600;
    margin-bottom: 30px;} 
  #presupuesto{font-size: 1.3rem;}
  h5 {
    font-size: 1.2rem;
    line-height: 1.55em;
    color: #303030; /*#E88A6D;*/
    font-weight: 400;
    margin-bottom: 30px;
  } 
  #mail h5 {margin-bottom: 0px !important;}
  .jumbotron h2, .jumbotron h5 {color: #fdebce;}

    .jumbotron {
    /*background-color: 810920!important;*/ /* redish: #ca313c;*/
    /*height: 900px;*/
    color: #fff;
    padding: 20px 20px 20px 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif; /*Montserrat*/
    border-radius: 0!important;
    margin-bottom: 0!important;
    background:-webkit-linear-gradient(rgba(129,9,32,0.7),rgba(95,32,41,.95)75%,rgba(95,32,41,1)), 
    url(imagenes/fondo-jumbo-simpler-final-optimizado.svg) no-repeat center center fixed;
    background:linear-gradient(rgba(129,9,32,0.7),rgba(95,32,41,.95)75%,rgba(95,32,41,1)), 
    url(imagenes/fondo-jumbo-simpler-final-optimizado.svg) no-repeat center center fixed;
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
    /*background:linear-gradient(rgba(126,93,160,1),rgba(95,32,41,.95)75%,rgba(95,32,41,1)); */
  }
  @media (max-width: 480px) {
   .jumbotron h3 {text-align: center!important;font-size: 7.5vw!important;}
   .jumbotron h1{font-size: 1.1rem !important;}
    p, h5 {font-size: 1.1rem;line-height: 1.4em;}
    #accordion .card-header a {font-size: 0.9rem!important;}
    #myCarousel p, #Carousel p {font-size: 0.9rem!important; line-height: 1rem!important;}
    .btn {font-size: .7rem!important;}
   .logo {width: 160px;}
   .card {margin: 10px -30px 0 -30px;}
   h1.card-header {font-size: 1.4rem !important;}
  }
  
 #idiomas{padding-top: 10px;}
 #presentación{margin-top: -10px;}
 .underline{text-decoration: underline;} 
 .emphasis{color:#b91253;}
@media (min-width: 768px) {
  #contact-form.row{
    margin-right: 40px!important;
    margin-left: 40px!important;
  }
}
@media (min-width: 960px) {
  #contact-form.row{
    margin-right: 60px!important;
    margin-left: 60px!important;
  }
}
 p {font-size: 1.1rem;}
#testimonials{margin-left: 5rem;margin-right:5rem;}
#testimonials p {font-size: 1.1rem;margin-bottom: 0px!important;}
#testimonials>div{padding: 6rem;}
p.firma{font-weight: bold; padding-top: 1rem; padding-bottom: 1.4rem;text-align: right;}
.quote {font-size: 300%; color: #f8b525;}
hr.headline{border: 0;width: 55%; height: 1px; text-align:center; border-radius: 50%; background-color: transparent; position: relative;bottom:5px; margin-bottom: 40px;padding-bottom: 1px;box-shadow: 0 1px 1px rgba(0,0,0,.09),0 2px 3px rgba(0,0,0,.09),0 4px 8px rgba(0,0,0,.10);}
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 

}
/******************/
#serv-col-1{background-color: #f4ece9; box-sizing: border-box; border: 0px solid white;}
/*#serv-col-2:after {
  background: none;
  border: 12px solid #f4ece9;
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  pointer-events: none;
}*/
#serv-col-2{background-color: #fff;border: 12px solid #f4ece9;}

#presupuesto{padding-top: 0px!important;}
/* --- back to Top btn-arrow --- */
#toTopBtn {
    color: #5f2029;
    position: fixed;
    bottom: 26px;
    right: 17px;
    z-index: 98;
    padding: 5px 5px 3px 5px;
    border-radius: 20%;
    background-color: hsla(5, 76%, 62%, .5);
    line-height:1.2px!important;
    box-shadow: 0 1px 1px rgba(0,0,0,.10), 
                0 2px 3px rgba(0,0,0,.10), 
                0 4px 8px rgba(0,0,0,.10), 
                0 8px 10px rgba(0,0,0,.10), 
                0 14px 16px rgba(0,0,0,.07); 

}
#toTopBtn:hover{
  background-color: hsla(5, 76%, 62%, .65);
}

/*.cd-top {
    position: fixed;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0,0,0,.10), 
                0 2px 3px rgba(0,0,0,.10), 
                0 4px 8px rgba(0,0,0,.10), 
                0 8px 10px rgba(0,0,0,.10), 
                0 14px 16px rgba(0,0,0,.07); 
   background: url(imagenes/top-arrow-thin.svg) no-repeat center 50%;
 }*/

 /*---- End back To Top btn ------*/

.btn {border-radius: 3.5rem!important;
  text-transform: uppercase;
  padding: 12px 25px;
  font-size: .9rem;
  letter-spacing: .1rem;}

.btn-link {
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #810920;/*#ffa954;/*#f09d4b; /*#fff;/*#b91253;*/
}
/*.btn-link:hover {
  color: #f09d4b;
}
*/
.btn-small {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Helvetica, Arial, "Helvetica Neue", sans-serif;
  font-size: .65rem;
  padding: 6px 15px !important; 
  border: 1.25px solid #810920!important; 
}

.btn-dark {
  color: #fff;
  background-color: #810920!important;
  border-color: #810920!important;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.btn-dark:hover {
  color: #fff;
  background-color: #a70c28!important;
  border-color: #a70c28!important;
}
.btn-dark.btn-submit{width: 30%;}

.btn-light {
  color: #810920!important;
  background-color: #fff8f6!important; /*#f6f6f6!important;*/
  border: 1.6px solid #810920;
}
.btn-dark::{
  content: '';
  box-shadow: 10px 10px 50px white;
}

#btn-backToMainPage:hover,.btn-light:hover:not(.lang) {
  color: #fff8f6!important; 
  background-color: #810920!important;
}

.btn-light-inverse{color: #fff!important;background-color: #810920!important; }

/* button's arrows */
.rightArrow{transform: rotate(90deg);margin-bottom: 3px!important; transition: transform 350ms; }
.leftArrow{transform: rotate(-90deg);margin-bottom: 3px!important; transition: transform 350ms; }
.downArrow{transform: rotate(-180deg);margin-bottom: 3px!important; transition: transform 350ms; }

.btn.btn-light:hover .rightArrow{transform: rotate(90deg) translateY(-9px);margin-bottom: 3px!important;}
.btn.btn-light:hover .leftArrow{transform: rotate(-90deg) translateY(-9px);margin-bottom: 3px!important;}

/* lang button */
.lang a{letter-spacing:0.12rem; }

.moon-sun { /*dark mode button*/
  background: url(imagenes/moon-sun.svg) no-repeat 100% 50%;
  width:60px;
  height:29.5px;
  background-position:-31px;
  background-size: 60px 16px;
  transition: all 0.6s ease-in;}

.moon-sun:hover{background-position:30px;}

.moon-sun-inverted {
  background: url(imagenes/moon-sun.svg) no-repeat 100% 50%;
  width:60px;
  height:29.5px;
  background-position:30px!important;
  background-size: 60px 16px;
  transition: all 0.6s ease-in;
  transition-delay: 0.1s;
}

.moon-sun-inverted:active{ background-position:-31px!important;}

  .container-fluid {
    padding: 60px 50px;
  }
  .about-block {padding: 0px 0px 30px 0px;}
  
  .bg-grey,.bg-grey2 {background-color: #f6f6f6;}
  .bg-beige{background-color: #f4ece9;}
  .bg-yellow {background-color: rgba(253,223,155,0.2);} /* yellow fddf9b--- ocre original f8bc38 --- Otros: #f09d4b; #E87A5D*/
  .bg-pink {background-color: #c38994;} /* redish > #ca313c*/
  .bg-yellow2 {background-color: rgba(253,223,155,0.35);}
  .bg-red {background-color:#810920;}
  .bg-brown {background-color:#d19c8d;}
  .bg-orange {background-color:#f09d4b;}
  .bg-blue {background-color:#11354c;}
  .bg-black {background-color:#493635;}  
  .logo{max-width:250px;}

  .maxw {max-width: 200px;}


  /*.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }*/
  div#myCarousel {margin-bottom: 30px!important;}
  div#carousel {margin-bottom: 30px!important;}

  .carousel-indicators{
    bottom: -50px;
  }/*change flat default indicators*/
  .carousel-indicators li{
    width: 10px!important;
    height: 10px!important;
    border-radius: 100%;
    background-color: #fdebce;
    border: 1.25px solid #f8bc38;/*#ca313c;*/
    opacity: 1;
    transform: scale(1);
    transition: background-color 0.6s ease;
  }
  .carousel-indicators .active {
    width: 12.5px!important;
    height: 12.5px!important;
    border-radius: 100%;
    border:none;
    margin:0 3px;
    background-color: #f09d4b; /*ocre*/
    transform: scale(1.2);
  }
  #frase{font-style: italic;margin-bottom: 5px}
  
  .card{transition: box-shadow 0.1618s !important;}
  .card:hover {box-shadow: 0px 1px 12px rgba(129,9,32, .1618);}
  .card-header{background-color: rgba(244,236,233,1);}/*rgba(75,15,0,0.04)!important;} */
  
  #accordion .card-header {background-color: rgba(17,53,76,0.1);}
  
  h1.card-header  {
    color:#810920!important;
    font-size: 1.5rem;
    padding: 1rem 0.3rem;
  }
  .card-header-font  {
    color:#810920!important;
    font-size: 1.5rem;
    padding: 1rem 0.3rem;
  }
  .card-body.consulta { margin-top: 10px; padding-left: 2rem;padding-right: 2rem;}

  /*.container-fluid.bg-grey{    -webkit-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.2);
    -moz-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.2);
    box-shadow: 0 10px 10px -10px rgba(215, 91, 99, 0.5);}*/
  .navbar:not(#nav0) {
    /*padding: 0rem 1rem;*/
    margin-bottom: 0;
    background-color: #810920; /*bordó*/
    opacity: 1;
    z-index: 9999;
    border: 0;
    font-size: 0.9rem !important;
    line-height: 1.42 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    -webkit-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.22);
    -moz-box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.22);
    box-shadow: 0 7px 5px -6px rgba(215, 91, 99, 0.22),
                0 8px 10px -6px rgba(215, 91, 99, 0.2);
  }
  /*#mainNav{background: linear-gradient(rgba(95,32,41,.85),rgba(170,10,70,.85));}*/
li.nav-item{padding: 0 10px !important;text-align: center;}/*vertical separator > border-right: 1px solid rgba(255,255,255,0.15);*/

.navbar-brand{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Helvetica, Arial, "Helvetica Neue", sans-serif;
font-size: 1.3rem !important;}

/*.navbar-toggler-icon:hover{ /*change hamburger color: original > stroke='rgba%280, 0, 0, 0.5%29' */
/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(248, 174, 56, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
button.navbar-toggler:focus{outline: none!important;}*/

/*.navbar-toggler.menu-btn {padding: 0!important;}*/

#collapsibleNavbar {transition: height 0.4s ease-out;} /*slower unfold time, sync with burger btn animation*/

.collapse.show {margin-bottom: 10px;}

.divider{
  display: flex;
  position: relative;
  height: 25px;
  width: 1px;
  background-color: rgba(255,255,255,0.2); 
  margin: 5px auto;
}
#navbardrop {cursor: default;}

#nav-icons a{ /*iconos redes sociales*/
  display: none;
  font-size: 1.1rem;
  margin-inline-start: .9px;
  color: rgba(255, 255, 255, 0.5);
}
#nav-icons a:hover {color: #fff;}

.show #nav-icons a{
  display: inline-block!important;
  font-size: 1.3rem!important;
  margin-inline-start: .9px;
  color: rgba(255, 255, 255, 0.5);}

.dropdown-menu {
  margin-top: -5px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #f09d4b; /*original:f8bc38 -- salmón: E87A5D;*/
  border:none;
}
/* desplegar menu mouse over link
.dropdown.lang-dropdown-menu:hover>.dropdown-menu {
  display: block;
}
/* desplegar menu mouse over link
.dropdown:hover>.dropdown-menu {
  display: block;
}
/*.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  /* pointer-events: none!important;
}*/
.blend{mix-blend-mode: lighten;}
.dropdown-item {
  font-size: 0.85rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer!important;
}
#sobrenos,#dropdown-item2 { /*resaltar 1er link del menú dropdown*/
  font-size: 0.85rem;
  color: #810920;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: #fff;
}
.horiz-links {display: inline-flex; justify-content: center;}
/*#contact .fas, .fab {color: rgba(248, 174, 56,0.5);}*/

.label {
  font-size: 16px;
  color: #810920;
}

footer.container-fluid {
  padding: 40px 50px;
}
footer{border-top: 1px solid rgba(253,235,206,0.8);box-shadow: 0px -2px 3px rgba(253,235,206,0.8); }
footer h1{color: #fdebce;}
footer svg{color:#fdebce!important;}
.foot {
  font-size: 14px;
  text-align: center;
  line-height: 2.5em;
}

.foot_r1,.foot_r4 {
  font-size: 1em;
  line-height: 1em;
}

.foot_r2 {
  font-size: 1em;
  color: #d44b15;
  line-height: 1em;
  position: relative;
  display: inline-block;
}

.foot_r2::after {
  content: '';
  height: 1px;
  background-color: #d44b15;
  width: 2em;
  position: absolute;
  top: 0.5em;
  left: -2.5em;
}

.foot_r2::before {
  content: '';
  height: 1px;
  background-color: #d44b15;
  width: 2em;
  position: absolute;
  top: 0.5em;
  right: -2.5em;
}

.foot_r3 {
  font-size: 1.15em;
  line-height: 1.4em;
  margin-bottom: 12px;
}

.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1.618s;
  -webkit-animation-duration: 1.618s;
  visibility: visible;
}
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(72%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(72%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }

  @media screen and (max-width: 986px) {
   h3,#about {text-align: center!important;}
  }
  @media screen and (max-width: 768px) {
    .col-md-4, .col-sm-5 {margin: 25px 0;}
    .btn-dark.btn-submit{width: 100%;} 
    #btn-team{text-align: center!important;}
    #btn-team.btn-light{width: 90%;}
    #btn-backToMainPage.btn-light{
          width: 100%;
      padding: 10px 6px !important; 
      font-size: .7rem !important;
    }
    #presentación,#team{text-align: center!important;}
    #testimonials{margin-left: 0rem!important;margin-right:0rem!important;}
    #testimonials>div{padding: 3rem 3rem 4rem 3rem!important}
  }

 /* ---- Special hover effects ----*/

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.6s;
}
/* stroke effect */
/*nav.stroke ul li a,*/
.stroke,.fill {
  position: relative;
}
.stroke:after,
.fill:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #f09d4b; /* orange #f8bc38;*/
  height: 1.1px;
}
.stroke:hover:after {
  width: 100%;
  transition: all 0.6s;
}

.fill {transition: all 2s;}

.fill:after {
  text-align: left;
  content: '.';
}
.fill:hover {
  color: #810920 !important;
  z-index: 1;
}
.fill:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* SHIFT effect*/
.shift {
  position:relative;
  z-index: 1;
}
.shift:hover {
  color: #91640F;
}
.shift:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #f8bc38;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.shift:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #f8bc38;
  }
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-duration: 0.6s !important;
  transition-duration: 0.6s !important;
  -webkit-transition-property: transform;
  transition: transform 0.6s !important;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}
/* Float */
.hvr-float .hvr-icon {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover .hvr-icon, .hvr-float:focus .hvr-icon, .hvr-float:active .hvr-icon {
  -webkit-transform: translateY(-2.5px);
  transform: translateY(-2.5px);
}
/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(7.8px);
  transform: translateX(7.8px);
}
/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 0.618s;
  transition-duration: 0.618s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*******************************************************/

.jumbotron hr{ /*posición final*/
  opacity: 1;
  background-color:#fff;/*#f09d4b;*/
  transform: scale(1);
  /*transform: translate(0) scale(0.5);*/
  transition: all 400ms ease-out;
  transition-delay: 100ms; /*1600ms;*/
}

body.hero-anime .jumbotron hr{ /*posición inicial oculta*/
  opacity: 0;
  transform: scale(0.1);
  /*transform: translateY(-60px);*/
  transition-delay: 100ms;
}

/*.about-block {
  opacity: 1;
  transform: translate(0);
  transition: all 850ms ease-out;
  transition-delay: 1600ms;
}
body.hero-anime .about-block{
  opacity: 0;
  transform: translateY(50px);
  transition-delay: 1600ms;
}*/
h1 span{ /*posición final*/
  display: inline-block;
  transition: all 400ms;
  transition-timing-function: cubic-bezier(-.01, .01, -.01, 1.01);
  color: #f8b525; /*#810920;*/
  opacity: 1;
  transform: translate(0);
}

/* inicio palabra español*/
/* valores iniciales (ocultos) a remover*/
body.hero-anime h1 span:nth-child(1){
  opacity: 0;
  transform: translateY(-25px);
}
body.hero-anime h1 span:nth-child(2){
  opacity: 0;
  transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
  opacity: 0;
  transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
  opacity: 0;
  transform: translateY(-15px);
}
body.hero-anime h1 span:nth-child(5){
  opacity: 0;
  transform: translateY(-55px);
}
body.hero-anime h1 span:nth-child(6){
  opacity: 0;
  transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
  opacity: 0;
  transform: translateY(-70px);
}
h1 span:nth-child(1){transition-delay: 1000ms;}
h1 span:nth-child(2){transition-delay: 700ms;}
h1 span:nth-child(3){transition-delay: 900ms;}
h1 span:nth-child(4){transition-delay: 800ms;}
h1 span:nth-child(5){transition-delay: 1000ms;}
h1 span:nth-child(6){transition-delay: 700ms;}
h1 span:nth-child(7){transition-delay: 900ms;}
/* Inicio palabra Portugués*/
body.hero-anime h1 span:nth-child(9){ /*P*/
  opacity: 0;
  transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
  opacity: 0;
  transform: translateY(70px);
}
body.hero-anime h1 span:nth-child(11){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
  opacity: 0;
  transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
  opacity: 0;
  transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
  opacity: 0;
  transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(16){
  opacity: 0;
  transform: translateY(65px);
}
body.hero-anime h1 span:nth-child(17){ /*S final*/
  opacity: 0;
  transform: translateY(50px);
}
h1 span:nth-child(9){transition-delay: 600ms;}
h1 span:nth-child(10){transition-delay: 700ms;}
h1 span:nth-child(11){transition-delay: 1300ms;}
h1 span:nth-child(12){transition-delay: 1500ms;}
h1 span:nth-child(13){transition-delay: 1400ms;}
h1 span:nth-child(14){transition-delay: 1200ms;}
h1 span:nth-child(15){transition-delay: 1450ms;}
h1 span:nth-child(16){transition-delay: 1100ms;}
h1 span:nth-child(17){transition-delay: 800ms;}
/* inicio palabra inglés*/
/*valores iniciales (ocultos)*/
body.hero-anime h1 span:nth-child(19){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(20){
  opacity: 0;
  transform: translateY(60px);
}
body.hero-anime h1 span:nth-child(21){
  opacity: 0;
  transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(22){
  opacity: 0;
  transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(23){
  opacity: 0;
  transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(24){
  opacity: 0;
  transform: translateY(40px);
}
h1 span:nth-child(19){transition-delay: 1300ms;}
h1 span:nth-child(20){transition-delay: 1500ms;}
h1 span:nth-child(21){transition-delay: 800ms;}
h1 span:nth-child(22){transition-delay: 1200ms;}
h1 span:nth-child(23){transition-delay: 1450ms;}
h1 span:nth-child(24){transition-delay: 1750ms;}

/***************** CUSTOM BURGER MENU  *********************/
.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35.46px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 3px solid  #fff;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 0.25rem;
}
.menu-btn__burger{
  width: 25px;
  height: 2.5px;
  background-color: rgba(255,255,255,.9);
  border-radius: 2.5px;
  box-shadow: 0 1px 1.5px rgba(248, 174, 56,.25);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 2.5px;
  background-color: rgba(255,255,255,.9);
  border-radius: 2.5px;
  box-shadow: 0 1px 1.5px rgba(248, 174, 56,.25);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before{
  transform: translateY(-6.5px);
}
.menu-btn__burger::after{
  transform: translateY(6.5px);
}
.menu-btn:hover{border-color: rgba(232, 138, 93, 0.9);} /*rgba(248, 174, 56, 0.9);}*

/* burger ANIMATION */
.menu-btn.open .menu-btn__burger{
  transform: rotate(-180deg);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before{
  transform: rotate(45deg) scale(0.75);
}
.menu-btn.open .menu-btn__burger::after{
  transform: rotate(-45deg) scale(0.75);
}
