.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35.46px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  border-radius: 3px solid  #fff;
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 0.25rem;
}
.menu-btn__burger{
  width: 25px;
  height: 2.5px;
  background-color: rgba(255,255,255,.9);
  border-radius: 2.5px;
  box-shadow: 0 1px 1.5px rgba(248, 174, 56,.25);
  transition: all 0.6s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 2.5px;
  background-color: rgba(255,255,255,.9);
  border-radius: 2.5px;
  box-shadow: 0 1px 1.5px rgba(248, 174, 56,.25);
  transition: all .6s ease-in-out;
}
.menu-btn__burger::before{
  transform: translateY(-6.5px);
}
.menu-btn__burger::after{
  transform: translateY(6.5px);
}
.menu-btn:hover{border-color: rgba(248, 174, 56, 0.9);}

/* ANIMATION */
.menu-btn.open .menu-btn__burger{
  transform: rotate(-180deg);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before{
  transform: rotate(45deg) scale(0.75);
}
.menu-btn.open .menu-btn__burger::after{
  transform: rotate(-45deg) scale(0.75);
}
